$white: #f8fafc;
$gray-lt: #e4e7eb;
$gray: #9ea7b3;
$gray-dr: #334155;
$black: #212121;
$black-dr: #131618;
$pink: #ff9aaa;
$pink-dr: #AB3B63;
$pink-dr-30: #AB3B6350;

$purple: #3D0B37;

// Variables for screen width
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1280px;



body {
  min-height: 100vh;
  min-width: 100%;
}


