@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme {

    --font-Alegreya: "Alegreya", sans-serif; 
    --font-OpenSans: "Open Sans", sans-serif; 
    --font-Italianno: "Italianno"; 




   /*  --font-alegreya: "Alegreya"  */

    --color-pink-50: #fbf4f8;
    --color-pink-100: #f8ebf1;
    --color-pink-200: #f3d7e5;
    --color-pink-300: #eab7d0;
    --color-pink-400: #dc8ab0;
    --color-pink-500: #cd6793;
    --color-pink-600: #b94974;
    --color-pink-700: #ab3b63;
    --color-pink-800: #84304d;
    --color-pink-900: #6f2c43;
    --color-pink-950: #421524;

    --color-gray-50: #f4f7f7;
    --color-gray-100: #e3e8ea;
    --color-gray-200: #cad4d7;
    --color-gray-300: #a5b5bb;
    --color-gray-400: #799097;
    --color-gray-500: #5e757c;
    --color-gray-600: #50626a;
    --color-gray-700: #455259;
    --color-gray-800: #3e474c;
    --color-gray-900: #373e42;
    --color-gray-950: #131618;
    
}


@layer base {
    body {
        @apply font-OpenSans;
    }
    h1 {
        @apply text-gray-50 text-4xl md:text-5xl font-medium leading-tight ;
    }
    h2 {
        @apply text-pink-900 text-3xl md:text-4xl font-medium leading-tight mb-8;
        }
    h3 {
        @apply text-pink-950 text-xl md:text-2xl font-semibold leading-tight;
        }
    p {
        @apply text-lg/7 md:text-xl/8 text-gray-800  ;
    }
}

@layer utilities {
    .overlay-left-gradient{
        background: linear-gradient(to left, rgba(0, 0, 0, .1) 0%, var(--color-gray-950) 90%);
    }
    .highlighted-text span {
        font-weight: 700;
    }
    .flower-drop-shadow {
        filter: drop-shadow(2px 4px 6px var(--color-pink-700));
    }
    .footer-category-bottom-border {
        padding: 0 0 .5rem;
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, var(--color-pink-700), var(--color-gray-950));
        border-image-slice: 1;
    }
}

  